* {
    caret-color: transparent;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #EEE;
}

body {
    background-color: #191d25;
    color: white;
    overflow: hidden;
}

img {
    width: 23px;
    display: inline-block;
    padding-top: 4px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container h1 {
    font-size: 3rem;
}


.game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: #1d242f;
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

table {
    border-spacing: 6px;
}

td {
    background-color: #151a24;
    width: 35px;
    height: 35px;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.2);

}

.unopened {
    /* background: #3f61d3; */
    background: rgb(82, 116, 218);
    background: linear-gradient(180deg, rgba(82, 116, 218, 1) 0%, rgba(54, 86, 177, 1) 46%);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

.marked {
    /* background-color: #ecc457; */
    background: rgb(251, 223, 105);
    background: linear-gradient(180deg, rgba(251, 223, 105, 1) 0%, rgba(237, 193, 60, 1) 46%);
}

.marked:after {
    content: "🚩";
}

.info-container {
    display: flex;
    justify-content: space-between;
    min-width: 260px;
    width: 100%;
    margin-bottom: 2rem;
}

.info-container div,
.smiley {
    background-color: #151a24;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    justify-self: center;
    align-self: center;
}

.info-container .smiley {
    box-shadow: -3px 3px rgba(0, 0, 0, 0.2), -2px 2px rgba(0, 0, 0, 0.2), -3px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 1rem;
    font-size: 1.5rem;
}

.info-container .smiley:active {
    box-shadow: inset -3px 3px rgba(0, 0, 0, 0.2), inset -2px 2px rgba(0, 0, 0, 0.2), inset -3px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.difficulty-container {
    padding-bottom: 2rem;

}

.difficulty-container button {
    padding: 0.5rem 1rem;
    background: #151a24;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100px;
    box-shadow: -2px 2px rgba(0, 0, 0, 0.2), -2px 2px rgba(0, 0, 0, 0.2), -2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.difficulty-container button:active {
    box-shadow: inset -3px 3px rgba(0, 0, 0, 0.2), inset -2px 2px rgba(0, 0, 0, 0.2), inset -3px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
}