* {
    caret-color: transparent;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #eee;
}

body {
    background: rgb(29, 36, 47);
    background: linear-gradient(180deg,
            rgba(29, 36, 47, 1) 0%,
            rgba(11, 13, 15, 1) 63%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden;
    height: 100vh;
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Old versions of Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
    user-select: none;
}

/* only mines are images but maybe I will add flags as well*/
img {
    width: 17px;
    display: inline-block;
    padding-top: 4px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.container h1 {
    font-size: 2.3rem;
}

.game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: #1d242f;
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


table {
    border-spacing: 6px;
}

td {
    background-color: #151a24;
    min-width: 31px;
    width: 31px;
    height: 31px;
    min-height: 31px;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}

.unopened {
    background: #5274da;
    background: linear-gradient(180deg,
            rgba(82, 116, 218, 1) 0%,
            #3656b1 46%);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.unopened:hover {
    opacity: 0.4;
}

.marked {
    background: rgb(251, 223, 105);
    background: linear-gradient(180deg,
            rgba(251, 223, 105, 1) 0%,
            rgba(237, 193, 60, 1) 46%);
}

.marked:after {
    content: "🚩";
}

.info-container {
    display: flex;
    justify-content: space-between;
    min-width: 260px;
    width: 100%;
    margin-bottom: 2rem;
}

.info-container>* {
    background-color: #151a24;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    justify-self: center;
    align-self: center;
}

.info-container .smiley {
    padding: 1rem;
    font-size: 1.5rem;
}

.difficulty-container {
    padding-bottom: 2rem;
}

.difficulty-container button {
    padding: 0.5rem 1rem;
    background: #151a24;
    border-radius: 5px;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}


.footer {
    padding-top: 2rem;
}

.info-container-2 {
    display: flex;
    justify-content: space-between;
    min-width: 260px;
    width: 100%;
    padding-top: 1rem;
}

.info-container-2>* {
    background-color: #151a24;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    justify-self: center;
    align-self: center;
}

.lives {
    width: 100px;
    height: 45px;
}

.utilities {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
}

.utilities button {
    color: white;
    background-color: #1d242f;
    border: 1px solid black;
    padding: 1.1rem 1.1rem;
    font-size: 1.3rem;
    margin: 0.7rem 0rem;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
    height: 70px;
    width: 70px;
}

.game-container {
    display: flex;
}


.red {
    background: red;
}